/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

html{
    scroll-behavior: smooth;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* -------------------- HEADER -------------------- */

/* -------------------- menu */

.nav__menu {
  display: flex;
  justify-content: space-between;
}

.nav__menu img {
  height: 19px;
}

.logo {
  position: relative;
  top: 20px;
}

.nav__menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav__menu ul li {
  font-size: 16px;
  padding-left: 50px;
}

.nav__menu ul li a {
  position: relative;
  text-decoration: none;
}

.nav__menu ul li a:hover {
  color: var(--main-color);
}

.nav__menu ul li a:hover {
  border-top: 3px solid var(--main-color);
  padding-top: 21px;
}

/* -------------------- BODY --------------------*/

.under-nav {
  margin-top: 50px;
}

.under-nav h2 {
  font-size: 16px;
  margin-top: 12px;
  font-weight: normal;
}

/* -------------------- form */

form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logo-map {
  padding: 12px;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

form input {
  padding: 10px;
  border-top: solid 1px var(--main-bg-color);
  border-bottom: solid 1px var(--main-bg-color);
  border-left: none;
  border-right: none;
  font-weight: bold;
  font-size: 18px;
}

form ::placeholder {
  text-align: center;
  color: black;
  opacity: 1;
}

form button {
  padding: 10px;
  color: white;
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

form button .fa-solid {
  display: none;
}

form button p {
  padding: 0;
  margin: 0;
}

/* -------------------- filters */

.filters {
  display: flex;
  font-weight: bold;
}

.filters p {
  font-size: 18px;
}

.filters ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filters_button {
  display: flex;
  margin-left: 15px;
  border: solid 1px var(--main-bg-color);
  border-radius: 30px;
  padding: 16px;
}

.filters_button:hover {
  background-color: var(--filter-bg-color);
}

.filters_button p {
  font-size: 17px;
  margin: 0 0 0 7px;
}

/* -------------------- information */

.infos {
  display: flex;
  margin: 30px 0;
}

.infos img {
  height: 100%;
  padding: 10px 0 10px 10px;
}

.infos p {
  font-size: 16px;
  margin: 0 0 0 5px;
  padding: 12px 12px 12px 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements .section-title {
  margin-bottom: 33px;
}

.hebergements__cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.hebergements__cards .card {
  width: 100%;
}

.hebergements__cards img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements__cards .card-content {
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}

.hebergements__cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements__cards .card-subtitle {
  font-size: 14px;
  margin: 0;
}

.hebergements__cards .card-rating {
  margin-bottom: 5px;
}

.hebergements__cards h3 {
  font-weight: bold;
}

.hebergements .under_card {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 0 0;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* -------------------- activites */

.activites {
  padding: 30px;
  margin-bottom: 50px;
}
.activites h1 {
  margin-bottom: 33px;
  margin-top: 50px;
  font-size: 22px;
}
.activites__cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.a__cards {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 100%;
  width: fit-content;
}

.a__cards h3 {
  padding: 7.5px 0 0 12px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
}
.activites__cards img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  height: 90%;
}

/* -------------------- FOOTER --------------------*/

footer {
  background-color: var(--main-bg-color);
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
}

/* -------------------- listes */

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-top: 13px;
  font-size: 16px;
}

footer li:last-child {
  margin-bottom: 8px;
}

footer h2 {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 18px;
}

.apropos {
  margin-left: 25px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /*FILTERS*/
  .filters {
    flex-direction: column;
  }

  .filters_button:first-child {
    margin-left: 0;
  }

  /*HEBERGEMENTS + POPULAIRES*/

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /*ACTIVITES*/

  .a__cards {
    height: 90%;
    width: auto;
  }

  .a__cards .under-img {
    margin-top: 0;
    padding-top: 7px;
  }

  .activites__cards img {
    height: 80%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }

  main {
    margin: 0;
  }
  .main-container {
    padding: 0;
  }

  /*HEADER*/

  .nav__menu {
    flex-direction: column;
    margin-top: 25px;
  }

  .nav__menu img {
    position: initial;
    margin: auto;
    margin-bottom: 25px;
  }

  .nav__menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto auto auto;
  }

  .nav__menu .list-menu-h {
    box-shadow: 0 3px var(--main-bg-color);
    padding-bottom: 20px;
  }

  .nav__menu .list-menu-a {
    box-shadow: 0 3px var(--main-bg-color);
    padding-bottom: 20px;
  }

  .nav__menu .list-menu-h:hover {
    color: var(--main-color);
    box-shadow: 0 3px var(--main-color);
    padding-bottom: 20px;
  }

  .nav__menu .list-menu-a:hover {
    color: var(--main-color);
    box-shadow: 0 3px var(--main-color);
    padding-bottom: 20px;
  }

  .nav__menu ul li {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .nav__menu ul li a:hover {
    border-top: none;
    padding-top: 0;
  }

  .under-nav {
    margin-left: 20px;
    margin-right: 20px;
  }

  /*MAIN*/

  form {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  form .logo-map {
    padding: 12px;
  }

  form button {
    border-radius: 8px;
    box-shadow: 0 5px 5px #d9d9d9;
    padding: 10px 12px;
  }

  form button .fa-solid {
    display: contents;
  }

  form button p {
    display: none;
  }

  .filters {
    margin-left: 20px;
    margin-right: 20px;
  }

  .filters ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .filters ul li:last-child {
    padding: 16px;
  }

  .filters ul li {
    margin: 0;
  }

  .filters_button p {
    font-size: 15px;
  }

  .infos {
    margin-left: 20px;
    margin-right: 20px;
  }

  .infos p {
    padding: 4px 12px 12px 6px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    background-color: white;
  }

  .hebergements-and-populaires .populaires {
    margin-top: 0;
    background-color: var(--main-bg-color);
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .hebergements {
    padding: 0;
  }

  .hebergements__cards {
    grid-template-columns: none;
    gap: 1rem;
  }

  .hebergements__cards img {
    height: 130px;
  }

  .a__cards {
    height: 220px;
  }

  .hebergements .under_card {
    margin: 0;
  }

  .activites {
    margin-bottom: 25px;
  }

  .activites__cards {
    grid-template-columns: none;
    gap: 1rem;
  }

  /**/
  /*FOOTER*/

  footer {
    grid-template-columns: none;
    gap: 10px;
  }

  .apropos {
    margin-top: 10px;
    margin-left: 20px;
  }

  .apropos p {
    margin-bottom: 12px;
  }

  .noshebergements {
    margin-left: 20px;
  }

  .noshebergements p {
    margin-bottom: 12px;
  }

  .assistance {
    margin-left: 20px;
  }

  .assistance p {
    margin-bottom: 12px;
  }

  /* ... */
}
